<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plantilla1</title>
</head>
<body>
    <p style="color: rgb(55, 0, 255);"> Nombre: {{nombre}}</p>
    <p style="color: blueviolet;"> Nombre: {{apellido}}</p>
    <h2>lista de notas</h2>
    
    {% for nota in lista %}

        {% if nota <= 6 %}
            <p style="color: red;"> DESAPROBADO= {{nota}} </p>
        {% else %}
            <p style="color: green;"> APROBADO= {{nota}} </p>
        {% endif%}

    {% endfor %}

</body>
</html>